body{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    flex-direction: column;
    aspect-ratio : 1 / 1;
    max-height: 75%;
    flex:auto;

    
}

.row{
    display: flex;
    border: solid 1px black;
    flex:auto;

}


.square{
    background-color: blue;
    border: solid 1px black;
    flex:auto;
}

.hover{
    background-color: red;
}